__pycache__
.ipynb_checkpoints/
checkpoint/default_experiment/best_val_epoch4_step12500.ckpt
checkpoint/default_experiment/checkpoint_epoch4_step15000.ckpt
wandb/
core.*
nohup.out
*_dataset/
*_datasets/
.idea/
data
.venv