annotated-types==0.7.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
cmake==4.1.0
cymem==2.0.11
eval_type_backport==0.2.2
filelock==3.16.1
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.45
hf-xet==1.1.10
huggingface-hub==0.34.5
idna==3.10
Jinja2==3.1.6
langcodes==3.4.1
language_data==1.3.0
lit==18.1.8
marisa-trie==1.2.1
MarkupSafe==2.1.5
mpmath==1.3.0
murmurhash==1.0.13
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging==25.0
pathlib_abc==0.1.1
pathy==0.11.0
platformdirs==4.3.6
preshed==3.0.10
protobuf==5.29.5
pydantic==2.10.6
pydantic_core==2.27.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
scipy==1.10.1
sentencepiece==0.2.0
sentry-sdk==2.38.0
smart-open==6.4.0
smmap==5.0.2
spacy==3.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
sympy==1.13.3
thinc==8.0.17
tokenizers==0.13.3
torch==2.0.0
tqdm==4.67.1
transformers==4.26.1
triton==2.0.0
typer==0.4.2
typing_extensions==4.13.2
urllib3==2.2.3
wandb==0.21.4
wasabi==0.10.1
